#loader {
  height: auto;
  width: 20vw;
  border-radius: 10px;
  margin-left: 40vw;
  margin-right: 40vw;
  margin-top: 10vw;
}

.content {
  display: none;
}

#mtn {
  height: auto;
  width: 70vw;
  border-radius: 10px;
  margin-left: 15vw;
  margin-right: 15vw;
}
